@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

:root {
  --ring-size: 200px;
  --angle: -360deg;
}

.particle {
    position: absolute;
    z-index: -1;
    transform-style: preserve-3d;
    display: flex;
  }
  
  .particle::after {
    content: "";
    width: 8px;
    position: absolute;
    height: 8px;
    background: linear-gradient(90deg, rgb(151, 255, 6) 0%, #FF4820 25%, #FF4820 50%, rgb(87, 89, 243) 100%);
    border-radius: 100%;
    opacity: 0.2;
  }
  
  .particle__inner, .particle__inner--2, .particle__inner--3 {
    position: absolute;
    z-index: -1;
    transform-style: preserve-3d;
    display: flex;
  }
  
  .particle__inner::after, .particle__inner--2::after, .particle__inner--3::after {
    content: "";
    width: 5px;
    position: absolute;
    height: 5px;
    border-radius: 100%;
  }
  .particle__inner::after {
    background: var(--color-text);
  }
  
  .particle__inner--2::after {
    background: linear-gradient(90deg, #FF4820 0%, transparent 100%);
  }
  .particle__inner--3::after {
    background: yellow;
  }