.products {
  margin: 100px auto;
}

main {
  margin: 10px 20px;
}

.products-container {
  margin: 20px 80px;
}

.products-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  gap: 2rem;
}

.products-card {
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 var(--color-text);
  border-top: 1px solid rgb(151, 255, 6);
  border-left: 1px solid #ff4820;
  border-right: 1px solid hsl(11, 100%, 56%);
  border-bottom: 1px solid #fcd705;
}

.products-card:hover {
  border-top: 1px solid #ff4820;
  border-left: 1px solid rgb(151, 255, 6);
  border-right: 1px solid #fcd705;
  border-bottom: 1px solid hsl(11, 100%, 56%);
}

.products-card img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
  height: auto;
}

.products-card .product-content {
  padding: 1rem;
}

.product-title {
  background: linear-gradient(
    90deg,
    rgb(151, 255, 6) 0%,
    #ff4820 25%,
    #ff4820 50%,
    rgb(87, 89, 243) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 20px;
  cursor: pointer;
  margin: 10px auto;
}

.product-desc {
  color: var(--color-text);
  margin-bottom: 1rem;
}
