.optimumai__footer {
  color: var(--color-text);
  padding: 2rem 1rem 1rem 1rem;
  background-image: url("https://ajay-dhangar.github.io/img/use-svg-as-background-image-particle-strokes.svg");
}

.optimumai__footer-heading {
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
}

.optimumai__footer-heading h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 64px;
  line-height: 75px;
}

.optimumai__footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem;
  border: 1px solid #fff;
  text-align: center;

  margin-bottom: 10rem;
  cursor: pointer;
}

.optimumai__footer-btn p {
  font-size: 18px;
  font-family: var(--font-family);
  line-height: 21px;
  color: #fff;
  word-spacing: 2px;
}

.optimumai__footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;

  width: 100%;
  text-align: left;
}

.optimumai__footer-links div {
  width: 250px;
  margin: 0.5rem;
}

.optimumai__footer-links_logo {
  display: flex;
  flex-direction: column;
}

.optimumai__footer-links_logo img {
  width: 118px;
  height: 30px;

  margin-bottom: 1rem;
}

.optimumai__footer-links_logo p {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 15px;
  color: #fff;
}

.optimumai__footer-links_div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.optimumai__footer-links_div h4 {
  font-size: 14px;
  line-height: 17px;
  font-family: var(--font-family);
  color: #fff;

  margin-bottom: 0.9rem;
}

.optimumai__footer-links_div p {
  font-size: 12px;
  line-height: 15px;
  font-family: var(--font-family);
  color: #fff;

  margin: 0.5rem 0;
  cursor: pointer;
}

.optimumai__footer-copyright {
  margin-top: 2rem;
  text-align: center;
  width: 100%;
}

.optimumai__footer-copyright p {
  font-size: 12px;
  font-family: var(--font-family);
  line-height: 15px;
  color: #fff;
}

.-mx-24 {
  margin-left: -24px;
  margin-right: -24px;
}


@media screen and (max-width: 850px) {
  .optimumai__footer-heading h1 {
      font-size: 44px;
      line-height: 50px;
  }

  .-mx-24 {
      margin-left: 0;
      margin-right: 0;
  }

}

@media screen and (max-width: 550px) {
  .optimumai__footer-heading h1 {
      font-size: 34px;
      line-height: 42px;
  }

  .optimumai__footer-links div {
      margin: 1rem 0;
  }

  .optimumai__footer-btn p {
      font-size: 14px;
      line-height: 20px;
  }
}

@media screen and (max-width: 400px) {
  .optimumai__footer-heading h1 {
      font-size: 27px;
      line-height: 38px;
  }
}